
@{
    ViewBag.Title = "DelfosFC";
}

<h2>Delfos Football Club</h2>
<h3>For the glory for the game</h3>

<div class="container-fluid">
    <div class="row">
        <div class=" col-lg-10 col-sm-10 col-xs-10">
            <h2>What we are all about...</h2>
            <p>Delfos Football Club was founded in 1972 in a town in Pretoria West called Laudium. The founders are namely Dushen Chetty and Vuyo Radebe. The club has played in numerous amount of leagues available in South Africa. The Club has been part of many philanthropy events in the past 30 years. Not only is football the main priority of the club but also the well-being of local and underprivileged members of the community.</p>

        </div>
    </div>
</div>

<div class="col-md-4">
    
    <p>
        <img src="~/Images/delfosbadge.png" height="400" width="400" />
    </p>
</div>

        



