
@{
    ViewBag.Title = "Goal";
}



<div class="jumbotron">
    <h1>GENDER INEQUALITY</h1>
    <p class="lead">
        Gender inequality is discrimination on the basis of sex or gender causing one sex or gender to be routinely privileged or prioritized over another.

        Gender equality is a fundamental human right and that right is violated by gender based discrimination. Gender disparity starts in childhood and are right now limiting the lifelong potential of children around the world – disproportionately affecting girls.
    </p>

</div>




