@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DELFOS FC WOMENS</h1>
    <p class="lead">Introduction to womens football!</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Player:</h2>
        <p>
            <img src="~/Images/Use case Player.png" height="400" width="400" />
        </p>
    </div>

    <div class="col-md-4">
        <h2>Staff:</h2>
        <p>
            <img src="~/Images/Use case Staff.png" height="400" width="400" />
        </p>
    </div>

    <div class="col-md-4">
        <h2>Parent:</h2>
        <p>
            <img src="~/Images/Use Case Parent.png" height="400" width="400" />
        </p>
    </div>

    <div class="col-md-4">
        <h2>Tournaments:</h2>
        <p>
            <img src="~/Images/Use Case Tournament.png" height="400" width="400" />
        </p>
    </div>

    <div class="col-md-4">
        <h2>ClassStructureDiagram:</h2>
        <p>
            <img src="~/Images/ClassStructureDiagram.png" height="500" width="500" />
        </p>
    </div>
</div>