
@{
    ViewBag.Title = "Tournaments";
}


<div class="jumbotron">
    <h1>FOOTBALL TOURNAMENTS</h1>
    <p class="lead">We are proud to announce that DelfosFC have now introduced the hosting of womens'football tournaments. This is the opportunity for aspiring womens football players to show their talent and most importantly have fun at the same time! </p>
    
</div>

<div class="container-fluid">
    <div class="row">
        <div class=" col-lg-10 col-sm-10 col-xs-10">
            <h2>REGISTER YOUR TEAM:</h2>
            <p>Register your team for the monthly competitions hosted by Delfos Football Club. Entry fee per team is R600 and 7 players max per team.The Captain's details are required below</p>
            <br />
            <p>Name:</p><input type="text" class="text-center" />
            <p>Surname:</p><input type="text" class="text-center" />
            <p>Cellphone:</p><input type="text" class="text-center" />
            <p>Team Name:</p><input type="text" class="text-center" />
            <br />
            <button class="btn btn-success">REGISTER</button>
            <br />
            <button class="btn btn-danger">CANCEL</button>



        </div>
    </div>
</div>

